section {
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
}

.task__board {
    display: grid;
    gap: var(--spacing-sm);
    border: 1px solid var(--color-grey);
    border-radius: var(--border-radius);
    padding: var(--spacing-sm);
    background-color: var(--color-primary);
}

.task__group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    background: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-sm);
    min-height: 500px;
}

.task__column-heading {
    padding: var(--spacing-md);
    margin: 0;
    background: var(--color-highlight);
    color: var(--color-white);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.task__column {
    display: grid;
    gap: var(--spacing-xs);
    padding: var(--spacing-md);
}

.task__delete {
    position: absolute;
    top: var(--spacing-xs);
    right: var(--spacing-xs);
    background: transparent;
    border: none;
    cursor: pointer;
}

.task__delete-icon {
    width: 30px;
    height: 30px;
    pointer-events: none;
    transition: fill 0.3s ease;
}

.task__delete:hover .task__delete-icon {
    fill: red;
}

.task__add-button {
    position: absolute;
    font-weight: bold;
    right: var(--spacing-sm);
    top: var(--spacing-sm);
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: var(--spacing-xs) 12px;
    transition: background-color 0.3s ease;
}

.task__add-button:hover {
    background-color: var(--color-secondary-dark);
}

.task {
    position: relative;
    background-color: var(--color-white);
    padding: var(--spacing-sm);
    border: var(--border-width) solid var(--color-grey);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.3s;
    box-shadow: var(--shadow-sm);
    cursor: move;
}

.task:hover {
    box-shadow: var(--shadow-md);
    transform: translateY(-2px);
}

.task.dragging {
    opacity: 0.5;
    transform: rotate(2deg);
}

.drag-over {
    background: #e8f5e8;
    border: var(--border-width) dashed var(--color-completed)
}

.task h3 {
    margin-bottom: var(--spacing-xs);
    color: var(--color-highlight);
}

.task p {
    line-height: 1.4;
}

@media (min-width: 768px) {
    .task__board {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            'pending-heading inprogress-heading completed-heading'
            'pending-column inprogress-column completed-column';
    }

    .task {
        height: 140px;
        p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-clamp: 2;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
    }

    .task__group:nth-child(1) {
        grid-area: pending-heading / pending-column;
    }

    .task__group:nth-child(2) {
        grid-area: inprogress-heading / inprogress-column;
    }

    .task__group:nth-child(3) {
        grid-area: completed-heading / completed-column;
    }
}
